* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.flashcards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flashcards div {
  flex: 1 0 calc(33.333% - 20px); /* Set flex-basis to 33.333% (minus gap) for three columns */

  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #308536;
  background-color: #308536;
  color: #fff;
  font-weight: bold;
}
